@font-face {
    font-family:        'Oxygen';
    font-style:         normal;
    font-weight:        300;
    src:                url("../fonts/Oxygen-Light.ttf");
}

@font-face {
    font-family:        'Oxygen';
    font-style:         normal;
    font-weight:        400;
    src:                url("../fonts/Oxygen-Regular.ttf");
}

@font-face {
    font-family:        'PoiretOne';
    font-style:         normal;
    src:                url("../fonts/Bilbo-Regular.ttf");
}

html {
    background:         radial-gradient(circle, #ffffff 20%, #f3f3f3 80%) fixed;
    font-family:        'Georgia', serif;
    font-weight:        300;
}

body {
    margin: 0;
}

/****************************************************************************/
/* Navigation                                                               */
/****************************************************************************/


#nav {
    background:         linear-gradient(#f9f9f9 0%, #e3e3e3 100%);
    border-top:         2px solid #333;
    opacity:            0.97;
    box-shadow:         0 0 10px #999, 0 0 40px 35px #e9e9e9;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            block;
    height:             45px;
    overflow:           hidden;
    position:           fixed;
    width:              100%;
    top:                0;
    z-index:            1;
}

#nav-links {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            table;
    height:             45px;
    margin:             0 auto;
    overflow:           visible;
}

#nav-links a {
    color:              #333;
    display:            inline-block;
    font-family:        Oxygen, sans-serif;
    font-size:          14px;
    font-weight:        300;
    height:             45px;
    padding:            13px 20px;
    text-shadow:        0 0 3px #fff;
    text-decoration:    none;
    -webkit-transition: all 0.3s ease-in;
    -webkit-transition-delay: 0.2s;
    -moz-transition:    all 0.3s ease-in;
    -moz-transition-delay: 0.2s;
}

#nav-links a:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition:    all 0.2s ease-out;
}

#nav-links .divider {
    border-left:        1px solid #ddd;
    border-right:       1px solid #eee;
    display:            inline-block;
    height:             45px;
    margin:             0 0px;
    vertical-align:     top;
    width:              0;
}

#nav-links a.photo:hover {
    background-color:   #e8c10d;
    color:              #fff;
}

#nav-links > a#academicLink:hover, a#academicLink.active {
    background-color:   #1187c2;
    color:              #ffffff;
}

#nav-links > a#researchLink:hover, a#researchLink.active {
    background-color:   #cc0000;
    color:              #ffffff;
}

#nav-links > a#experienceLink:hover, a#experienceLink.active {
    background-color:   #82c830;
    color:              #ffffff;
}

#nav-links > a#publicationsLink:hover, a#publicationsLink.active {
    background-color:   #2f3bdd;
    color:              #ffffff;
}

#nav-links > a#hobbiesLink:hover, a#hobbiesLink.active {
    background-color:   #ff9600;
    color:              #ffffff;
}

#nav-links > a#teachingLink:hover, a#teachingLink.active {
    background-color:   #e8c10d;
    color:              #ffffff;
}

#nav-links > a#activitiesLink:hover, a#activitiesLink.active {
    background-color:   #be63e3;
    color:              #ffffff;
}

#nav-links > a#skillsLink:hover, a#skillsLink.active {
    background-color:   #00b1b1;
    color:              #ffffff;
}

#nav-links > a#awardsLink:hover, a#awards.active {
    background-color:   #ff9600;
    color:              #ffffff;
}


/****************************************************************************/
/* Side Bar                                                                 */
/****************************************************************************/


#side-bar {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            block;
    float:              left;
    position:           fixed;
    width:              240px;
    z-index:            2;
}

img.photo {
    /*box-shadow:         0 0 0 8px #fff, 0 0 0 9px #ddd;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;*/
    display:            block;
    width:              220px;
    height:             220px;
    margin:             0 auto;
}

#quick-links {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            block;
    float:              left;
    margin:             25px 0 0 0px;
    width:              100%;
}

#quick-links a {
    color:              #000;
    display:            block;
    font-family:        'Oxygen', serif;
    font-size:          14px;
    line-height:        24px;
    margin:             2px 0;
    opacity:            0.85;
    padding:            5px;
    text-decoration:    none;
    -webkit-transition: all 0.3s;
    -webkit-transition-delay: 0.2s;
    -moz-transition: all 0.3s;
    -moz-transition-delay: 0.2s;
}

#quick-links a:hover {
    opacity:            1;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
}

#quick-links a > span.icon, span.space {
    display:            block;
    float:              left;
    height:             18px;
    margin:             3px 6px 3px 3px;
    width:              18px;
}

#quick-links a span.icon {
    background:         url("../img/icons.png") no-repeat;
    background-size:    72px 18px;
}

#quick-links a span.icon-email {
    background-position:0 0;
}

#quick-links a span.icon-tel {
    background-position:-18px 0;
}

#quick-links a span.icon-address {
    background-position:-36px 0;
}

#quick-links a span.icon-linkedin {
    background-position:-54px 0;
}

/****************************************************************************/
/* Main Content                                                             */
/****************************************************************************/


#main-content {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            block;
    float:              right;
    margin:             0 0 0px 0;
    overflow:           hidden;
    width:              75%;
    z-index:            2;
}

#main-content p {
    color:              #000;
    font-size:          16px;
    line-height:        28px;
    margin:             24px 15px;
}

#main-content a {
    color:              #0479A8;
    text-decoration: inherit;
    -webkit-transition: all 0.3s ease-in;
    -webkit-transition-delay: 0.2s;
    -moz-transition:    all 0.3s ease-in;
    -moz-transition-delay: 0.2s;
}

#main-content a:hover {
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          16px;
    font-weight:        normal;
    color:              #c00;
    text-decoration:    none;
    text-shadow:        0 0 3px #ecc;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#main-content .divider {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    background:         linear-gradient(to right, rgba(0,0,0,0) 0%,
    #ccc 30%,
    #ccc 70%,
    rgba(0,0,0,0) 100%);
    clear:              both;
    display:            block;
    height:             2px;
    margin:             30px 0;
}

#page {
    display:            block;
    margin:             90px auto 0 auto;
    width:              70%;
}

#me {
    display:            block;
    float:              left;
    font-family:        "Book Antiqua", serif;
    margin-bottom:      50px;
    width:              100%;
    text-align:         justify;
}

#name {
    display:            block;
    color:              #000;
    float:              left;
    font-family:        "PoiretOne", serif;
    font-size:          60px;
    font-weight:        400;
    margin-bottom:      8px;
}

#position {
    display:            block;
    float:              left;
    font-size:          20px;
}

#affiliation {
    display:            block;
    float:              right;
    text-align:         center;
    width:              320px;
}

#affiliation1 img {
    width:              25%;
    height:             25%;
    float:              right;
}

#affiliation2 img {
    width:              300px;
    height:             75px;
    float:              right;
}

/*Top*/
.cv-section {
    font-family:        'Book Antiqua', 'Palatino', serif;
    display:            block;
    float:              left;
    margin:             10px 0;
    width:              100%;
}

.cv-entry {
    font-family:        'Book Antiqua', 'Palatino', serif;
    display:            block;
    float:              left;
    margin-bottom:      24px;
    width:              100%;
    text-align:         justify;
}

.cv-entry .date-location {
    font-family:        'Book Antiqua', 'Palatino', serif;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    display:            block;
    float:              left;
    width:              25%;
}

.cv-entry .main {
    font-family:        'Book Antiqua', 'Palatino', serif;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;-
    display:            block;
    float:              right;
    width:              75%;
}

h1,h2,h3,h4,h5,h6 {
    margin:             0;
}

h1 {
    border-bottom:      2px solid #c00;
    clear:              both;
    color:              #cb0000;
    display:            block;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          26px;
    font-variant:       small-caps;
    line-height:        28px;
    margin-bottom:      20px;
    text-shadow:        0 0 1px #e99;
}

h2 {
    clear:              both;
    display:            block;
    float:              left;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          20px;
    font-weight:        bold;
    line-height:        28px;
    letter-spacing:     -0.5px;
}

h3 {
    clear:              both;
    display:            block;
    float:              left;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          18px;
    font-weight:        normal;
    line-height:        28px;
    letter-spacing:     -0.5px;
    margin:             0 0 5px 0;
}

.cv-entry .main ul {
    font-family:        'Book Antiqua', 'Palatino', serif;
    clear:              left;
    display:            block;
    float:              left;
    line-height:        20px;
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    margin:             0;
    padding:            0 0 0 20px;
}

.cv-entry .main ul li {
    margin:             0 0 8px 0;
    font-family:        'Book Antiqua', 'Palatino', serif;
}

.cv-entry ul {
    clear:              left;
    display:            block;
    float:              left;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          18px;
    font-weight:        normal;
    line-height:        25px;
    margin:             0;
    padding:            0 0 0 20px;
}

.cv-entry ul li {
    margin:             0 0 8px 0;
    font-family:        'Book Antiqua', 'Palatino', serif;
}

h4 {
    clear:              both;
    display:            block;
    float:              left;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          18px;
    font-weight:        normal;
    line-height:        28px;
    margin:             0;
}

h6 {
    display:            block;
    float:              left;
    font-family:        'Book Antiqua', 'Palatino', serif;
    font-size:          18px;
    font-weight:        normal;
    line-height:        28px;
    margin:             0;
}
